@font-face {
  font-family:"Happy_brown_cat_shadow";
  src: url("../fonts/Happy_brown_cat_shadow.ttf");
}

@font-face {
  font-family:"Basic Title Font";
  src: url("../fonts/basictitlefont.ttf");
}

body {
  font-family:"Basic Title Font";
  font-size: 170%;
}

h1 {
  text-align: center;
  margin: 30px;
  font-size: 90px;
  font-family:"Happy_brown_cat_shadow";
}

h1 a {
  color: #000;
}

h1 a:hover {
  text-decoration: none!important;
  color: pink;
}

.red {
  font-size: 110%;
  text-decoration: none;
  color: red;
  text-shadow: 1px 1px 30px red!important;
}

h2 {
  text-align: center;
  color:red;
  font-size: 50px;
  font-family:"Happy_brown_cat_shadow";
}

.col-s-4 h2:hover {
  color: red;

}

.col-s-4 label:hover {
  color: pink;
}

.row {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

.row1 {
  border: 4px double red;
  padding: 10px;
  margin-bottom: 40px;
  background-color: #FFFAFB;
  border-radius: 5px;
}

.col-s-4 {
  display: inline-block;
  vertical-align: text-top;
  margin: 20px;
}

label {
  display: block!important;
  text-align: left;
  width: 130px;
  font-size: 120%;
  margin: auto;
  margin-left: 30px;
  font-weight: 200!important;
  cursor: w-resize!important;
}

input:hover {
  cursor: crosshair!important;
}

button {
  margin-bottom: 20px!important;
  font-size: 250%!important;
  vertical-align: middle!important;
  color: red!important;
  font-family:"Happy_brown_cat_shadow";
  border: 2px solid red!important;
  background-color: #FFFAFB!important;
}

button:hover {
  color: pink!important;
  border: 2px solid pink!important;
}

/* PIZZA */

#pizza {
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 100%;
  border: 1px solid #ccc;
  /*-moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  clip: rect(0px, 50px, 100px, 0px);*/
}

/*#pieSliceBlue2  {
  background-color: #fff;
  position: absolute;
  border: 1px solid #000;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}*/

.tote {
  font-family:"Happy_brown_cat_shadow";
  font-size: 80px;
  margin: auto;
  text-align: center;
}

.pizz {
  background-image:url("../images/dealwit.gif");
  background-repeat: none;
  background-size:cover;
  background-position: center;
}

p {
  margin: 20px;
  text-align: center;
}
